.colorBoxContainer{
    display:flex;
    height:150px;
    width:100%;
    vertical-align: middle;
    padding:5px;
  }
.colorBox{
    border-radius:1px;
    height:150px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorBoxContent{
    color:white;
}
.colorBoxScore{
    font-weight:bold;
}