.selectContainer{
    margin-top:10px;
}
button, input, select, textarea {
    font-family : inherit;
    font-size   : 100%;
  }
input[type=text] {
    font-size: 25px;
}
textarea[type=text] {
    font-size: 25px;
}
.form{
    display:flex;
    justify-content: center; 
    flex-direction: column;
}
.suggestItem{
    background-color: '#d7d4cd';
    z-index: 100;
}
.suggestItem:hover{
    background-color: '#66c3d5';
}
.editorContainer{
    max-width:100%;
    background-color: #fff;
    border:solid 1px #e0e0e0;
    min-height:100px;
    height:auto;
}