.wrap{
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instruction,
.container {
  margin: 20px;
  width: 400px;
  height: 70px;
}

.mytextarea {
  width:400px;
  height:70px;
  font-size: 20px;
  padding: 5px;
  border: 2px solid black;
}