.cardContainer{
    text-align: center;
    height:auto;
}
.author_photo{
    width:40px;
    height:40px;
    border-radius: 20px;
}
.avatar{
    background-image: url('../../assets/images/1024x1024bb.jpg');
    width: 100%;
    height:100%;
    object-fit: cover;
}
.contentContainer{
    /* display: flex; */
    min-height:100px;
    /* width:100%; */
    padding:5px 20px;
    line-height: 30px;
    word-break: break-all;
}
.tweetHeader{
    display: flex;
    align-items: flex-start;
}

a {
    text-decoration: none;
    }
.tweetImage{
    width:100%;
    object-fit: contain;
}