/* @import '~antd/dist/antd.css'; */

li{
    list-style-type: none;
}
ul{
    padding:0;
}
#search_field{
    font-size: 12px;
    width: 100%;
    padding: 5px;
}
input{
    padding: 5px;
    font-size: 12px;
}
input[type=text]{
    font-size: 15px;
}